name: Keepalive

on:
  schedule:
    - cron: '0 0 1 * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  keep-alive:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Empty Commit to keep repo active
        run: |
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"
          git commit --allow-empty -m "Auto keepalive commit"
          git push
